<button mat-icon-button class="new-button"
        matTooltip="Agregar un nuevo empleado"
        routerLink="/add">
  <mat-icon aria-label="Add new Department">add</mat-icon>
</button>

<button mat-icon-button class="new-button" style="margin-right: 10px"
        matTooltip="Eliminar a todos los empleados">
  <mat-icon aria-label="Add new Department">delete_forever</mat-icon>
</button>

<mat-form-field style="width: 100%;">
  <input matInput (keydown)="searchName($event.target.value)" placeholder="Filtro...">
</mat-form-field>

<table mat-table [dataSource]="dataSource" style="width: 100%;">

  <ng-container matColumnDef="deparmentName" style="width: 22%">
    <th mat-header-cell *matHeaderCellDef> Department Name </th>
    <td mat-cell *matCellDef="let element"> {{element.department.name}} </td>
  </ng-container>

  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef style="width: 23%"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="age" >
    <th mat-header-cell *matHeaderCellDef style="width: 20%"> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef style="width: 23%"> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="options" >
    <th mat-header-cell *matHeaderCellDef style="width: 12%"> Options </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button
              matTooltip="Editar"
              routerLink="/add/{{element.id}}">
        <mat-icon aria-label="Add new Department">create</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Eliminar" (click)="delete(element.id)">
        <mat-icon aria-label="Add new Department">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


